<div id="columnas">
  <div id="column1">
    <app-menu></app-menu>
  </div>



  <div id="column2">
    <div id="titulo">
      <p>Lista De Usuarios</p>
    </div>

    <div *ngFor="let user of users" class="user-container">
      <div class="friend">
        <!-- Conditionally render the "X" mark for admins -->
        <div *ngIf="admin" class="delete-icon" (click)="deleteUser(user)">X</div>
        <p>{{ user.firstName }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>



  <div id="column3">

  </div>
</div>
