<div id="columnas">
  <div id="column1">
    <div class="IZQ">
      <div class="logo">
        <img src="assets/logo.png" alt="Logo" class="logo">
      </div>

      <div id="menu">
        <div id="home">
          <button routerLinkActive="active" routerLink="/home">Home</button>
        </div>

        <div id="amigos">
          <button routerLinkActive="active" routerLink="/amigos">Amigos</button>
        </div>

        <div id="perfil">
          <button routerLinkActive="active" routerLink="/perfil">Perfil</button>
        </div>


      </div>

    </div>

  </div>
  <div  id="column2">
    <div id="titulo">
      <p>Perfil</p>
    </div>
  </div>
  <div  id="column3"></div>
</div>
