<div id="columnas">
  <div id="column1">
    <div class="IZQ">
      <div class="logo">
        <img src="assets/logo.png" alt="Logo" class="logo">
      </div>

      <div id="menu">
        <div id="home">
          <button routerLinkActive="active" routerLink="/home">Home</button>
        </div>

        <div id="amigos">
          <button routerLinkActive="active" routerLink="/amigos">Amigos</button>
        </div>

        <div id="perfil">
          <button routerLinkActive="active" routerLink="/perfil">Perfil</button>
        </div>


      </div>

    </div>

  </div>
  <div  id="column2">
    <div id="titulo">
      <p>Perfil</p>
    </div>

    <div id="infouser">
    <div *ngIf="userDetails">
      <ul>
        <li> <strong>{{ userDetails.firstName }}</strong></li>
        <li> <strong>{{ userDetails.age }}<strong> y</strong></strong></li>
      </ul>
    </div>

    <div *ngIf="!userDetails">
      <p>Cargando detalles del usuario...</p>
    </div>
    </div>


<br/>
    <div id="posts">
      <form (submit)="submitPost()">
        <textarea [(ngModel)]="postContent" name="postContent" placeholder="Escribe tu mensaje aquí" class="post-textarea"></textarea>
        <button type="submit" class="post-button">Publicar</button>
      </form>
    </div>

    <div *ngFor="let post of userPosts" class="post-container">
      <div class="post">
        <p>{{ post.email }}</p>
        <p>{{ post.description }}</p>
        <p>Likes: {{ post.likes.length }}</p>
        <p>Fecha de creación: {{ parseDate(post.createdAT) | date }}</p>
      </div>
    </div>




  </div>
  <div  id="column3"></div>
</div>
