<div id="columnas">
  <div id="column1">
    <app-menu></app-menu>
  </div>

  <div id="column2">

    <div id="titulo">
      <p>Perfil</p>
    </div>

    <div id="infouser">
      <div *ngIf="userDetails">
        <ul>
          <li> <strong>{{ userDetails.firstName }}</strong></li>
          <li> <strong>{{ userDetails.age }}<strong> y</strong></strong></li>
        </ul>
      </div>

      <div *ngIf="!userDetails">
        <p>Cargando detalles del usuario...</p>
      </div>
    </div>

    <br/>

    <div id="posts">
      <form (submit)="submitPost()">
        <textarea [(ngModel)]="postContent" name="postContent" placeholder="Escribe tu mensaje aquí" class="post-textarea"></textarea>
        <select [(ngModel)]="selectedCategory" name="categories" class="post-dropdown">
          <option value="" disabled selected>Seleccionar Categoría</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <button type="submit" class="post-button">Publicar</button>
      </form>
    </div>


    <div *ngFor="let post of userPosts" class="user-container">
      <div class="post">
        <p>{{ post.email }}</p>
        <p>{{ post.description }}</p>
        <p>Likes: {{ post.likes.length }}</p>
        <p>Fecha de creación: {{ parseDate(post.createdAT) | date }}</p>

        <ng-container *ngIf="post.images.length > 0">
          <div *ngFor="let image of post.images; let i = index">
            <img src="{{image}}" alt='Post Image ${i}'>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
  <div  id="column3"></div>
</div>
