<div id="columnas">
  <div id="column1">
    <app-menu></app-menu>
  </div>

  <div id="column2">
    <div id="titulo">
      <p>User Profile</p>
    </div>

    <div class="user-container">
      <div id="main-user-container" class="user">
        <div class="user-details">
          <img src="{{ user.img }}" alt="User Image"/>
          <div>
            <p>{{ user.firstName }}</p>
            <p>{{ user.email }}</p>
            <div class="follow-counts">
              <p><b>{{ user.followers.length }} followers</b></p>
              <p><b>{{ user.following.length }} following</b></p>
            </div>
          </div>
          <div class="user-friend-action">
            <ng-container
              *ngIf="followed && user.email !== localStorage.getItem('email')">
              <a class="twitter-follow-button" data-show-count="true" data-size="large" (click)="unfollowUser(user)">Unfollow</a>
            </ng-container>
            <ng-container
              *ngIf="!followed && user.email !== localStorage.getItem('email')">
              <a class="twitter-follow-button" data-show-count="true" data-size="large" (click)="followUser(user)">Follow</a>
            </ng-container>

            <ng-container
              *ngIf="befriended && user.email !== localStorage.getItem('email')">
              <img src="assets/friend_already_added_drawable.svg" alt="Already Befriended"
                   style="height: 24px; width: 24px; cursor: pointer" (click)="deleteFriend(user)" />
            </ng-container>
            <ng-container
              *ngIf="!befriended && user.email !== localStorage.getItem('email')">
              <img src="assets/add_friend_drawable.svg" alt="Add Friend" style="height: 24px; width: 24px; cursor: pointer"
                   (click)="addFriend(user)"/>
            </ng-container>
          </div>
          <br>
          <p class="user-friends">Friends <b>{{ user.friends.length }}</b></p>
        </div>
        <p class="user-description">Description of user</p>
      </div>
    </div>


    <h2 style="text-align: center; margin-bottom: 13px">User Posts</h2>
    <div *ngFor="let post of posts; let i = index" class="posts-container" (click)="sendPost(post)">
      <div class="post">
        <!-- Conditionally render the "X" mark for admins -->
        <div *ngIf="admin" class="delete-icon" (click)="deletePost(post)">X</div>
        <div class="user-details">
          <img src="{{ user.img }}" alt="User Image"/>
          <div>
            <p>{{ user.firstName }}</p>
            <p>{{ user.email }}</p>
          </div>
        </div>
        <p class="post-time">{{ post.createdAT | date }}</p>
        <p class="post-body">{{ post.description }}</p>

        <ng-container *ngIf="post.images.length > 0">
          <div *ngFor="let image of post.images; let i = index">
            <img src="{{image}}" alt='Post Image ${i}'>
          </div>
        </ng-container>

        <div class="actions">
          <p>
            <ng-container *ngIf="post.likes.includes(localStorage.getItem('email'));">
              <img src="assets/heart_filled.svg" alt="Filled Heart" style="height: 24px; width: 24px"
                   (click)="deleteLikeToPost(post, i)"/>
            </ng-container>
            <ng-container *ngIf="!post.likes.includes(localStorage.getItem('email'));">
              <img src="assets/heart_empty.svg" alt="Empty Heart" style="height: 24px; width: 24px"
                   (click)="addLikeToPost(post, i)"/>
            </ng-container>
            {{ post.likes.length }}
          </p>
          <p>
            <img src="assets/comments.svg" alt="Comments" style="height: 24px; width: 24px">
            {{ post.comments.length }}
          </p>
        </div>
      </div>
    </div>

  </div>


  <div id="column3">
    <p-toast
      position="top-right"
      key="error-bc"
    ></p-toast>

    <p-toast
      position="top-right"
        key="success-bc"
    ></p-toast>
  </div>
</div>
