<div id="columnas">
  <div id="column1">
    <app-menu></app-menu>
  </div>

  <div id="column2">
    <div id="titulo">
      <p>Post</p>
    </div>

    <div class="post-container">
      <div id="mainPostDetails" class="post">
        <div *ngIf="admin" class="delete-icon" (click)="deletePost(post)">X</div>
        <div class="flex flex-row justify-between">
          <div class="flex gap-3 items-center">
            <div class="rounded-full overflow-hidden h-14 w-14">
              <img class="object-cover h-full w-full cursor-pointer" src="{{user.img}}" (click)="goToUserDetails(user)"/>
            </div>
            <p>{{ post.email }}</p>
          </div>
          <p> {{ post.createdAT | dateDisplay }}</p>
        </div>
        <p class="post-description">{{ post.description }}</p> <br/>

        <ng-container *ngIf="post.images.length > 0">
          <div class="carousel-container">
            <div class="carousel">
              <div class="carousel-inner" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
                <div *ngFor="let image of post.images" class="carousel-item">
                  <img [src]="image" alt="Post Image" class="post-image">
                </div>
              </div>
            </div>
            <button class="carousel-control prev" (click)="prevImage()">❮</button>
            <button class="carousel-control next" (click)="nextImage()">❯</button>
          </div>
        </ng-container><br/>

        <div class="actions">
          <div class="flex gap-1">
            <ng-container *ngIf="post.likes.includes(localStorage.getItem('email'))">
              <img src="assets/heart_filled.svg" alt="Filled Heart" style="height: 24px; width: 24px" (click)="deleteLikeToPost(post)"/>
            </ng-container>
            <ng-container *ngIf="!post.likes.includes(localStorage.getItem('email'));">
              <img src="assets/heart_empty.svg" alt="Empty Heart" style="height: 24px; width: 24px" (click)="addLikeToPost(post)"/>
            </ng-container>
            <p>{{ post.likes.length }}</p>
          </div>

          <div class="flex gap-1">
            <img src="assets/comments.svg" alt="Comments" style="height: 24px; width: 24px; cursor: pointer" (click)="toggleCreatePostForm()">
            <p>{{ post.comments.length }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center w-full h-auto p-5 border-t-2 border-gray-400">
      <p class="text-2xl text-black font-bold">Comentarios</p>
    </div>
    <div *ngIf="comments.length === 0" class="flex items-center justify-center w-full h-auto p-5 mt-[80px]">
      <p class="text-md text-[#1DA1F2]">No hay comentarios disponibles...</p>
    </div>
    <div *ngIf="showCommentPostForm" class="create-comment-form animate__animated animate__fadeInUp">
      <form (submit)="submitComment()">
        <textarea [(ngModel)]="commentContent" name="commentContent" placeholder="Escribe tu mensaje aquí" class="comment-textarea"></textarea>
        <button type="submit" class="comment-button">Comentar</button>
      </form>
    </div>

    <div *ngFor="let comment of comments; let i = index" class="comment-container">
      <div class="comment">
        <div *ngIf="admin" class="delete-icon" (click)="deleteComment(comment, post)">X</div>
        <div class="user-details">
          <img src="{{ commentsDetails[i].img }}" alt="Comment User Image"/>
          <div>
            <p>{{ comment.email }}</p>
          </div>
        </div>
        <p class="comment-time">{{ comment.commentAt | dateDisplay }}</p>
        <p class="comment-text">{{ comment.comment }}</p>
        <div class="actions">
          <div class="flex gap-1">
            <ng-container *ngIf="comment.likes.includes(localStorage.getItem('email'));">
              <img src="assets/heart_filled.svg" alt="Filled Heart" style="height: 24px; width: 24px" (click)="deleteLikeToComment(post, comment, i)"/>
            </ng-container>
            <ng-container *ngIf="!comment.likes.includes(localStorage.getItem('email'));">
              <img src="assets/heart_empty.svg" alt="Empty Heart" style="height: 24px; width: 24px" (click)="addLikeToComment(post, comment, i)"/>
            </ng-container>
            <p>{{ comment.likes.length }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
