<div id="columnas">
  <div id="column1">
    <app-menu></app-menu>
  </div>

  <div id="column2">
    <div id="titulo">
      <p>Post</p>
    </div>

    <div class="post-container">
      <div id="mainPostDetails" class="post">
        <!-- Conditionally render the "X" mark for admins -->
        <div *ngIf="admin" class="delete-icon" (click)="deletePost(post)">X</div>
        <div class="flex flex-row justify-between">
          <div class="flex gap-3 items-center">
            <div class="rounded-full overflow-hidden h-14 w-14">
              <img class="object-cover h-full w-full cursor-pointer" src="{{user.img}}" (click)="goToUserDetails(user)"/>
            </div>
            <p>{{user.firstName}}</p>
            <p>{{ post.email }}</p>
          </div>
          <p> {{ post.createdAT | dateDisplay }}</p>
        </div>
        <p class="post-description">{{ post.description }}</p> <br/>

        <!-- Renderizar imágenes si existen -->
        <ng-container *ngIf="post.images.length > 0">
          <div class="post-image-container">
            <ng-container *ngFor="let image of post.images">
              <img [src]="image" alt="Post Image" class="post-image">
            </ng-container>
          </div>
        </ng-container><br/>


        <div class="actions">
          <p>
            <ng-container *ngIf="post.likes.includes(localStorage.getItem('email'))">
              <img src="assets/heart_filled.svg" alt="Filled Heart" style="height: 24px; width: 24px" (click)="deleteLikeToPost(post)"/>
            </ng-container>
            <ng-container *ngIf="!post.likes.includes(localStorage.getItem('email'));">
              <img src="assets/heart_empty.svg" alt="Empty Heart" style="height: 24px; width: 24px" (click)="addLikeToPost(post)"/>
            </ng-container>
            {{ post.likes.length }}
          </p>
          <p>
            <img src="assets/comments.svg" alt="Comments" style="height: 24px; width: 24px; cursor: pointer" (click)="toggleCreatePostForm()">
            {{ post.comments.length }}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="showCommentPostForm" class="create-comment-form"><br><br>
      <form (submit)="submitComment()">
        <textarea [(ngModel)]="commentContent" name="commentContent" placeholder="Escribe tu mensaje aquí"
                  class="comment-textarea"></textarea>
        <button type="submit" class="comment-button">Comment</button>
      </form>
    </div><br/>


    <div *ngFor="let comment of comments; let i = index" class="comment-container">
      <div class="comment">
        <!-- Conditionally render the "X" mark for admins -->
        <div *ngIf="admin" class="delete-icon" (click)="deleteComment(comment, post)">X</div>
        <div class="user-details">
          <img src="{{ commentsDetails[i].img }}" alt="Comment User Image"/>
          <div>
            <p>{{ commentsDetails[i].firstName }}</p>
            <p>{{ comment.email }}</p>
          </div>
        </div>
        <p class="comment-time">{{ comment.commentAt | dateDisplay }}</p>
        <p class="comment-text">{{ comment.comment }}</p>
        <div class="actions">
          <p>
            <ng-container *ngIf="comment.likes.includes(localStorage.getItem('email'));">
              <img src="assets/heart_filled.svg" alt="Filled Heart" style="height: 24px; width: 24px" (click)="deleteLikeToComment(post, comment, i)"/>
            </ng-container>
            <ng-container *ngIf="!comment.likes.includes(localStorage.getItem('email'));">
              <img src="assets/heart_empty.svg" alt="Empty Heart" style="height: 24px; width: 24px" (click)="addLikeToComment(post, comment, i)"/>
            </ng-container>
            {{ comment.likes.length }}
          </p>
        </div>
      </div>
    </div>
  </div>


  <div id="column3">

  </div>
</div>
