<div class="global-container">
  <div class="main-header flex items-center">
    <div>
      <img width="250px" height="200px" style="cursor: pointer" routerLinkActive="active" routerLink="/home" src="assets/logo.png" alt="Logo" class="logo">
    </div>
    <h1 class="mx-auto">Chat</h1>
  </div>


  <div class="main-container">
    <div class="chat-list mat-elevation-z5">
      <div class="search-input">
        <mat-form-field appearance="fill" color="accent" [floatLabel]="'auto'">
          <input
            matInput
            placeholder="Search for friends..."
            type="text"
            [formControl]="searchFormControl"
            [matAutocomplete]="auto"
            (input)="filterFriends()"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let friend of filteredFriends" [value]="friend.email"
                        (click)="checkIfChatRoomExists(friend)">
              {{ friend.firstName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
        <mat-divider class="search-chat-divider"></mat-divider>

        <ng-container *ngFor="let chat of userChats; let i = index">
          <mat-list-option [formControl]="chatListControl" (click)="loadMessages(chat)" class="my-chats-list">
            <img matListItemAvatar [src]="getFriendImage(chat)">
            <p mat-line class="chat-title">
              <span class="chat-name">{{ getUserName(chat) }}</span>
              <span class="chat-date">{{ chat.lastMessageDate | dateDisplay }}</span>
            </p>
            <p mat-line class="chat-last-message">
              <span>{{ chat.lastMessage }}</span>
            </p>
          </mat-list-option>
          <mat-divider class="bottom-option-divider"></mat-divider>
        </ng-container>

      </mat-selection-list>

    </div>

    <div class="messages mat-elevation-z5">
      <div class="messages-header" *ngIf="currentChat">
        <img [src]="getFriendImage(currentChat)"/>
        <h1>{{ getUserName(currentChat) }}</h1>
      </div>
      <mat-divider *ngIf="currentChat"></mat-divider>

      <div class="chat-area" *ngIf="currentChat">
        <ng-container *ngIf="user">
          <h1 *ngIf="messages.length <= 0" style="margin: 20px; text-align: center">Start a conversation 😊</h1>
          <div *ngFor="let message of messages; let i = index" class="chat-bubble-container"
               [ngClass]="{ 'sender': message.senderId === user.id }">
            <div class="chat-bubble">
              {{ message.message }}
              <span class="chat-date">
            {{ message.sentDate | dateDisplay }}
          </span>
            </div>
          </div>
          <div #endOfChat></div>
        </ng-container>

      </div>
      <div class="input-area" *ngIf="currentChat">
        <mat-form-field appearance="outline" color="accent">
          <input [formControl]="messageControl" matInput placeholder="Send message..." (keydown.enter)="sendMessage()">
          <button mat-button matSuffix (click)="sendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!--    <button *ngIf="currentChat" (click)="sendMessage()" style="background: white">Send Message</button>-->
    </div>
  </div>
</div>
