
.formulari {
  text-align: center;
}


.inline {
  display: inline;
  margin: 0;

}

.inline-container a {
  color: #3681F7;
}

.formulari h2 {
  margin-right: 270px;
  font-family: "Brutalism", sans-serif;
  font-size: 30px;
}

.swal2-popup .swal2-confirm.swal-confirm-button {
  background-color: #1DA1F2 !important;
  color: white !important;
  border: none !important;
}









