<div class="centered-container">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>

  <div class="movil">
    <img src="assets/movil.png" alt="Movil" class="movil">
  </div>

  <div class="formulari">
    <h2>Inicia sesión</h2>
    <form (ngSubmit)="onSubmit()" #formulario="ngForm">
      <div>
        <input type="text" id="username" name="username" [(ngModel)]="email" placeholder="Email" required>
      </div>
      <div class="password-container">
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required>
        <button id="lupa" (click)="togglePasswordVisibility()">👁️‍🗨️</button>
      </div>

      <button type="submit" [ngClass]="{ 'enabled': formulario.valid && email && password }" [disabled]="!formulario.valid" [ngStyle]="{ 'background-color': (formulario.valid && email && password) ? '' : 'grey' }">Siguiente</button>
    </form>

    <div class="inline-container">
      <p class="inline">¿No tienes una cuenta?</p><a routerLink="/register"> Regístrate aquí</a>
    </div>
  </div>

</div>



