<div class="IZQ">
  <div class="logo">
    <img routerLinkActive="active" routerLink="/home" src="assets/logo.png" alt="Logo" class="logo">
  </div>

  <div>
    <div class="item" id="firstItem">
      <button class="btn" routerLinkActive="active" routerLink="/home">Home</button>
    </div>

    <div class="item">
      <button class="btn" routerLinkActive="active" routerLink="/amigos">Amigos</button>
    </div>

    <div class="item">
      <button class="btn" routerLinkActive="active" routerLink="/perfil">Perfil</button>
    </div>
  </div>
</div>
