<div id="columnas">
  <div id="column1">
    <div class="IZQ">
      <div class="logo">
        <img src="assets/logo.png" alt="Logo" class="logo">
      </div>

      <div id="menu">
        <div id="home">
          <button routerLinkActive="active" routerLink="/home">Home</button>
        </div>

        <div id="amigos">
          <button routerLinkActive="active" routerLink="/amigos">Amigos</button>
        </div>

        <div id="perfil">
          <button routerLinkActive="active" routerLink="/perfil">Perfil</button>
        </div>


      </div>
    </div>

  </div>


  <div id="column2">
    <div id="titulo">
      <p>Amigos</p>
    </div>

    <div *ngFor="let friend of friends" class="friend-container">
      <div class="friend">
        <!-- add friend.img as image and make it round -->
        <img src="{{friend.img}}" alt="user image">
        <p>{{friend.firstName}}</p>
        <p>{{friend.email}}</p>
        <div class="delete-icon" (click)="deleteFriend(friend)">X</div>
      </div>
    </div>

  </div>


  <div id="column3">


  </div>

  <p-toast
    position="bottom-center"
    key="error-bc"
    ></p-toast>

  <p-toast
    position="bottom-center"
    key="success-bc"
  ></p-toast>
</div>
