<div id="columnas">
  <div id="column1">
    <app-menu></app-menu>

  </div>


  <div id="column2">
    <div id="titulo">
      <p>Amigos</p>
    </div>

    <div *ngFor="let friend of friends" class="friend-container">
      <div class="friend">
        <!-- add friend.img as image and make it round -->
        <img src="{{friend.img}}" alt="user image">
        <p>{{friend.firstName}}</p>
        <p>{{friend.email}}</p>
        <div class="delete-icon" (click)="deleteFriend(friend)">X</div>
      </div>
    </div>

  </div>


  <div id="column3">


  </div>

  <p-toast
    position="bottom-center"
    key="error-bc"
    ></p-toast>

  <p-toast
    position="bottom-center"
    key="success-bc"
  ></p-toast>
</div>
