<div class="flex flex-row min-h-screen">
  <div class="w-1/4 h-full">
    <app-menu></app-menu>
  </div>


  <div class="flex flex-col w-1/2 border-x-2 border-[#C5C5C5]">
    <div class="text-center font-bold text-3xl p-4 border-b-2 border-[#C5C5C5]">
      <p>Lista De Amigos</p>
    </div>


    <div *ngFor="let friend of friends">
      <div class="flex py-8 px-[50px]">
        <div class="flex gap-8 mx-auto">
          <div class="rounded-full overflow-hidden h-[40px] w-[40px] w-5 flex items-center justify-center">
            <img class="object-cover h-full w-full" src="{{friend.img}}">
          </div>
          <div class="flex items-center gap-10">
            <div class="flex gap-2">
              <p class="text-[#1da1f2]">Usuario: </p>
              <p>{{ friend.firstName }}</p>
            </div>
            <div class="flex gap-2">
              <p class="text-[#1da1f2]">Email: </p>
              <p>{{ friend.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="flex flex-col w-1/4 h-full p-8">

  </div>

</div>
