<div id="columnas">
  <div id="column1">
    <app-menu></app-menu>
  </div>



  <div id="column2">
    <div id="titulo">
      <br/><p>Administrador</p><br/>
    </div>
    <div id="EP">
    <button id="dashboardGoToHome" (click)="goToDeletePosts()">Eliminar Posts</button></div>
    <!-- TODO create buttons to route for each admin option -->
    <div id="EU">
    <button id="dashboardGoToUserListing" (click)="goToUserListings()">Eliminar Usuarios</button></div>
    <div id="EC">
    <button id="dashboardGoToCategoryListing" (click)="goToCategoriesListing()">Categorías</button></div>
  </div>



  <div id="column3">

  </div>
</div>
