.full-calendar {
  max-width: 350px;
  height: 350px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.fc .fc-toolbar {
  font-size: 1em;
  background-color: #4a5568;
  border: none;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.fc .fc-toolbar-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fc .fc-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s;
  cursor: pointer;
}

.fc .fc-button:hover {
  color: #cbd5e0;
}

.fc .fc-daygrid-event {
  font-size: 0.9em;
  background-color: #edf2f7;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.fc .fc-daygrid-day-number {
  color: #4a5568;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #a0c4ff; /* Azul claro */
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  color: #1a202c; /* Color del texto para el día actual */
}

.fc-daygrid-day.fc-day-today {
  background-color: #87CEFA !important; /* Azul claro */
  border: 1px solid #4a5568; /* Borde azul oscuro */
}

.fc-prev-button, .fc-next-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #4a5568;
}

.fc-prev-button:hover, .fc-next-button:hover {
  color: #cbd5e0;
}

.fc-toolbar .fc-prev-button {
  float: left;
}

.fc-toolbar .fc-next-button {
  float: right;
}
