<div id="columnas">
  <div id="column1">
    <app-menu></app-menu>
    <button class="create-post-button" (click)="toggleCreatePostForm()">POST</button>

  </div>

  <div id="column2">
    <div id="titulo">
    </div>
    <div *ngIf="showCreatePostForm" id="create-post-form"><br/><br/>
      <form (submit)="submitPost()">
        <textarea [(ngModel)]="postContent" name="postContent" placeholder="Escribe tu mensaje aquí"
                  class="post-textarea"></textarea>
        <select [(ngModel)]="selectedCategory" name="categories" class="post-dropdown">
          <option value="" disabled selected>Seleccionar Categoría</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select><br/><br/>
        <button type="submit" class="post-button">Publicar</button>
      </form>
      <br/><br/>
    </div>


    <div *ngFor="let post of posts; let i = index" class="post-container">
      <div class="post">
        <div class="flex flex-col p-5 gap-5">
          <div class="clickable-post-container" (click)="sendPost(post)">
            <div class="flex flex-row justify-between">
              <div class="flex gap-3 items-center">
                <div class="rounded-full overflow-hidden h-14 w-14">
                  <img class="object-cover h-full w-full rounded-full" [src]="postUserDetail[i].img" />
                </div>
                <p>{{ post.email }}</p>
              </div>
              <p> {{ post.createdAT | dateDisplay }}</p>
            </div>
            <p>{{ post.description }}</p>
          </div>


          <ng-container *ngIf="post.images.length > 0">
            <div class="post-image-container">
              <div class="carousel-container">
                <div class="carousel">
                  <div class="carousel-slide" *ngIf="currentSlides[i] >= 0 && currentSlides[i] < post.images.length">
                    <img [src]="post.images[currentSlides[i]]" alt="Post Image" class="post-image">
                  </div>
                </div>
                <button class="prev" (click)="prevSlide(i)" *ngIf="post.images.length > 1">❮</button>
                <button class="next" (click)="nextSlide(i)" *ngIf="post.images.length > 1">❯</button>
              </div>
            </div>
          </ng-container>

          <div class="flex justify-center gap-[140px]">
            <div class="flex gap-3">
              <img src="assets/heart_filled.svg" alt="Filled Heart" style="height: 24px; width: 24px"/>
              <p>{{ post.likes.length }}</p>
            </div>
            <div class="flex gap-3">
              <img src="assets/comments.svg" alt="Filled Heart" style="height: 24px; width: 24px"/>
              <p>{{ post.comments.length }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div id="column3">


    <div id="categorias">
      <p>Categorías</p><br/>
      <div *ngFor="let category of categories">
        <label>
          <input type="checkbox" [value]="category" (change)="toggleCategory(category)">
          {{ category }}
        </label>
      </div>
    </div>

  </div>
</div>
