#columnas {
  display: flex;
  flex-direction: row;
}

#column1 {
  height: 100vh;
  width: 25%;
}

#column2 {
  height: 100vh;
  width: 49%;
  border-left: solid 2px #C5C5C5;
  border-right: solid 2px #C5C5C5;
  overflow-y: auto;
}

#column3 {
  height: 100vh;
  width: 25%;
}

.logo {
  height: 80px;
  margin-left: 14%;
  margin-top: 5%;
}

#home {
  margin-top: 16%;
  margin-left: 43%;
}

#amigos {
  margin-top: 10%;
  margin-left: 42%;
}

#perfil {
  margin-top: 10%;
  margin-left: 43%;
}

.IZQ button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: bold;
  transition: background-color 0.3s;
}

.IZQ button:hover {
  background-color: lightgray;
}

#titulo {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: background-color 0.3s;
  border-bottom: 1px solid #C5C5C5;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff0000; /* Red color for the X */
  font-weight: bold;
  font-size: 16px;
  user-select: none;
}

.post-container {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.post-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}



#categorias {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 10%;

}

#categorias p {
  color: #007bff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}

#categorias label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

#categorias input[type="checkbox"] {
  margin-right: 8px;
}

#categorias input[type="checkbox"]:checked + span {
  color: #007bff;
  font-weight: bold;
}

#categorias input[type="checkbox"]:checked + span::before {
  content: "\u2713"; /* Unicode check mark character */
  margin-right: 4px;
}

#categorias input[type="checkbox"]:checked + span::after {
  content: "";
}


