#columnas{
  display: flex;
  flex-direction: row;
}
#column1{
  height: 100vh;
  width: 25%;
}
#column2{
  height: 100vh;
  width: 49%;
  border-left: solid 2px #C5C5C5;
  border-right: solid 2px #C5C5C5;

}

#column3{
  height: 100vh;
  width: 25%;
}


.logo {
  height: 80px;
  margin-left: 14% ;
  margin-top: 5%;
}

#home {
  margin-top: 16%;
  margin-left: 43%;
}

#amigos {
  margin-top: 10%;
  margin-left: 42%;
}

#perfil {
  margin-top: 10%;
  margin-left: 43%;
}

.IZQ button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: bold;
  transition: background-color 0.3s; /* Agrega una transición suave para el cambio de color */
}

.IZQ button:hover {
  background-color: lightgray; /* Cambia el color de fondo a azul cuando se coloca el ratón encima */
}

#titulo {
  font-weight: bold;
  font-size: 160%;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: background-color 0.3s; /* Agrega una transición suave para el cambio de color */
  border-bottom: 1px solid #C5C5C5;
}

#titulo p {
  margin-left: 8%;
  margin-top: 3%;
}



#nuevoPost {
  margin-left: 35.5%;
  margin-top: 39%;
  font-size: 18px;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 4px;
}

#nuevoPost:hover {
  background-color: #3681F7;

}


#formularioPost {
  display: flex;
  flex-direction: column;
}

#formularioPost textarea {
  margin-bottom: 10px;
}

#formularioPost button {
  margin-top: 1px;
}

#formularioPost {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#texto {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#foto {
  margin-bottom: 10px;
  display: none;
}

#publicar {
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
}


#publicar:hover {
  background-color: #3681F7;
}


