<div id="columnas">
  <div id="column1">
   <app-menu></app-menu>

    <button class="create-post-button" (click)="toggleCreatePostForm()">POST</button>

  </div>

  <div id="column2">
    <div id="titulo">
    </div>
    <div *ngIf="showCreatePostForm" id="create-post-form"><br/><br/>
      <form (submit)="submitPost()">
        <textarea [(ngModel)]="postContent" name="postContent" placeholder="Escribe tu mensaje aquí" class="post-textarea"></textarea>
        <select [(ngModel)]="selectedCategory" name="categories" class="post-dropdown">
          <option value="" disabled selected>Seleccionar Categoría</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select><br/><br/>
        <button type="submit" class="post-button">Publicar</button>
      </form><br/><br/>
    </div>


    <div *ngFor="let post of posts; let i = index" class="post-container">
      <div class="post">
        <div *ngIf="admin" class="delete-icon" (click)="deletePost(post)">X</div>
        <div class="user-info">
          <img src="{{postUserDetail[i].img}}" alt="user img" height="50px" width="50px" class="rounded-full">
          <p>{{ post.email }}</p>
        </div>
        <div class="description-container">
          <p>{{ post.description }}</p>
        </div>
        <p class="post-time">{{ post.createdAT | date }}</p><br/>

        <!-- Renderizar imágenes si existen -->
        <ng-container *ngIf="post.images.length > 0">
          <div class="post-image-container">
            <div class="carousel-container">
              <div class="carousel">
                <div class="carousel-slide" *ngIf="currentSlide >= 0 && currentSlide < post.images.length">
                  <img [src]="post.images[currentSlide]" alt="Post Image" class="post-image">
                </div>
              </div>
              <button class="prev" (click)="prevSlide(i)" *ngIf="post.images.length > 1">❮</button>
              <button class="next" (click)="nextSlide(i)" *ngIf="post.images.length > 1">❯</button>
            </div>
          </div>
        </ng-container>

        <!-- Contadores de likes y comentarios -->
        <div class="info-container">
          <p class="likes-info">
            <span class="likes-count">{{ post.likes.length }}</span>
            <img *ngIf="post.likes.includes(localStorage.getItem('email'))" src="assets/heart_filled.svg" alt="Heart Filled" class="heart-icon" (click)="deleteLikeToPost(post, i)">
            <img *ngIf="!post.likes.includes(localStorage.getItem('email'))" src="assets/heart_empty.svg" alt="Heart Empty" class="heart-icon" (click)="addLikeToPost(post, i)">
          </p>
          <p class="comments-info">
            <img src="assets/comments.svg" alt="Comments" class="comment-icon"  (click)="sendPost(post)">
            {{ post.comments.length }}
          </p>
        </div>
      </div>
    </div>

  </div>


  <div id="column3">


    <div id="categorias">
      <p>Categorías</p><br/>
      <div *ngFor="let category of categories">
        <label>
          <input type="checkbox" [value]="category" (change)="toggleCategory(category)">
          {{ category }}
        </label>
      </div>
    </div>

  </div>
</div>
