@tailwind base;
@tailwind components;
@tailwind utilities;



#columnas {
  display: flex;
  flex-direction: row;
}

#column1 {
  height: 100vh;
  width: 25%;
}

#column2 {
  height: 100vh;
  width: 49%;
  border-left: solid 2px #C5C5C5;
  border-right: solid 2px #C5C5C5;
  overflow-y: auto;
}

#column3 {
  height: 100vh;
  width: 25%;
}

.logo {
  height: 80px;
  margin-left: 14%;
  margin-top: 5%;
}

#home {
  margin-top: 16%;
  margin-left: 43%;
}

#amigos {
  margin-top: 10%;
  margin-left: 42%;
}

#perfil {
  margin-top: 10%;
  margin-left: 43%;
}



#titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 1px solid #C5C5C5;
  padding: -4%;
}

.post-container {
  margin-bottom: 20px;
}

.clickable-post-container {
  cursor: pointer;

}

.post-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.actions p {
  margin-left: 15px;
}

#categorias {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
}

#categorias p {
  color: #007bff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
}


#categorias label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

#categorias input[type="checkbox"] {
  margin-right: 8px;
}

#categorias input[type="checkbox"]:checked + span {
  color: #007bff;
  font-weight: bold;
}

#categorias input[type="checkbox"]:checked + span::before {
  content: "\u2713"; /* Unicode check mark character */
  margin-right: 4px;
}

#categorias input[type="checkbox"]:checked + span::after {
  content: "";
}

.post {
  position: relative;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff0000;
  font-weight: bold;
  font-size: 1.5rem;
  user-select: none;
}

.post p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.likes-info, .comments-info, .date-info {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.likes-count {
  margin-right: 5px;
}

.heart-icon, .comment-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.likes-info {
  display: flex; /* Mostrar los íconos en línea */
  align-items: center; /* Centrar verticalmente */
}

.comments-info {
  display: flex; /* Mostrar los íconos en línea */
  align-items: center; /* Centrar verticalmente */
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 10px; /* Ajustar el margen superior */
}

.likes-info, .comments-info {
  margin: 0 140px;
}

.date-info {
  margin-top: 10px;
}

.likes-info .likes-count {
  margin-right: 5px;
}

.post-time {
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-image-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-wrap: wrap; /* Permitir que las imágenes se envuelvan cuando no quepan en una línea */
}

.post-image {
  max-height: 300px; /* Establecer la altura máxima */
  max-width: 100%; /* Evitar que las imágenes superen su contenedor */
  margin: 0 5px; /* Ajustar el espacio entre las imágenes */
}


.carousel-container {
  position: relative;
}

.carousel {
  display: flex;
}

.carousel-slide {
  flex: 0 0 auto;
}

.post-image-container {
  max-height: 300px; /* Establecer la altura máxima */
  overflow: hidden; /* Ocultar las imágenes adicionales */
  position: relative;
}

.post-image {
  max-width: 100%; /* Evitar que las imágenes superen su contenedor */
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


.create-post-button {
  color: white;
  font-size: 16px;
  transition: background-color 0.3s;
  display: inline-block;
  margin-top: 20%;
  margin-left: 32%;
  padding: 15px 50px;
  border-radius: 10px;
  background-color: #1da1f2;
  cursor: pointer;
  font-weight: bold;
  border: #1da1f2;
}

.create-post-button:hover {
  background-color: #1990c6;
}



.post-textarea {
  width: 47%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris */
  resize: vertical; /* Permitir redimensionamiento vertical */
  text-align: center;
  margin-left: 25%;
}

.post-dropdown {
  width: 47%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 5px; /* Bordes redondeados */
  text-align: center;
  border: 1px solid #ccc; /* Borde gris */
  margin-left: 25%;
}

.post-button {
  width: 47%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #1da1f2; /* Color de fondo verde */
  color: white; /* Color del texto blanco */
  cursor: pointer; /* Cursor al pasar el ratón */
  text-align: center;
  margin-left: 25%;
}

.post-button:hover {
  background-color: #1da1f2;
}

.user-info {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}


.description-container {
  margin-top: 10px;
  margin-left: 10px;
}

.rounded-full {
  border-radius: 50%;
}

.category-button {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
}

.category-button.selected {
  background-color: #C5E7EA;
}
