<div class="centered-container">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>

  <div class="movil">
    <img src="assets/movil.png" alt="Movil" class="movil">
  </div>

  <div class="formulari">
    <h2>Regístrate</h2>
    <form (ngSubmit)="onSubmit()" #formulario="ngForm">
      <div>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="firstName" placeholder="Nombre" required>
      </div>
      <div>
        <input type="text" id="gmail" name="gmail" [(ngModel)]="email" placeholder="Gmail" required>
      </div>
      <div class="password-container">
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required>
        <button type="button" id="lupa" (click)="togglePasswordVisibility()">👁️‍🗨️</button>
      </div>


      <div class="button-container">
        <button type="submit" [ngClass]="{ 'enabled': formulario.valid && firstName && email && password }" [disabled]="!formulario.valid || !firstName || !email || !password" [ngStyle]="{ 'background-color': (formulario.valid && firstName && email && password) ? '' : 'grey' }">Siguiente</button>
      </div>
    </form>

  </div>


</div>





