.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 120px;
  margin-top: 20px;
}

.movil {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 420px;
  margin-top: 85px;
  margin-right: 250px;
}

.movil img {
  max-width: 800px;
  max-height: 500px;
}

.formulari {
  margin-right: 550px;
  margin-top: -220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  text-align: center;
}

.formulari h2 {
  font-size: 30px;
}

.formulari input[type="text"],
.formulari input[type="password"],
.formulari input[type="phoneNumber"],
.formulari button {
  width: 450px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding-left: 5px;
}

.formulari button {
  width: 457px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #1da1f2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.formulari button:hover {
  background-color: #3681F7;

}

.inline {
  display: inline;
  margin: 0;

}

.formulari h2 {
  margin-right: 305px;
  font-family: "Brutalism", sans-serif;
}

.password-container {
  position: relative;
}



.password-container button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}


#lupa {
  height: 0px;
  width: 0px;
  margin-right: 30px;
  margin-top: -20px;
  background-color: white;
}

